html {
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 16pt;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #839496;
  text-align: left;
  background-color: #ffffff;
  /* background-color: #011734; */
}

/* CONTAINERS */

#entry-form-card {
  background-color: #F0F1F2;
  border-radius: 7px;
  width: 25rem;
  background-color: #202020;
}

#entry-form {
  font-size: .9rem;
}

#left-card-column-container {
  /* max-width: 400px; */
  max-width: 480px;
  margin: 0;
  /* max-width: 125rem; */
}

.app-title {
  /* width: 500px; */
  color: #AEAEAA;
}

.btn-primary {
  background-color: #6A6A6A;
  border-color: #6A6A6A;
}

.btn-primary:hover {
  background-color: #D93646;
  border-color: #D93646;
}

.credential-form {
  padding-top: 40px;
}

.primary-container {
  padding: 0px;
  margin: 0px;
}

.secondary-container {
  padding: 0px;
  margin: 0px;
}

.secondary-container #entry-form {
  font-weight: bold;
}

.card-header {
  font-size: .9rem;
  font-style: ;
  background-color: #202020;
}

.card-body {
  font-size: .8rem;
}

.center {
  text-align: center;
}

.component-block-header {
  padding-top: 2rem;
}

.field-group svg {
  color: #FFFFFF;
}

.font-bold {
  font-weight: bold;
}

.icon-btn {
    background: #222;
    vertical-align: middle;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.progress {
  height: 23px;
  background-color: ;
}

.progress-bar-dates {
  font-size: .7rem;
  padding-left: 0px;
  padding-right: 0px;
}

.progress-bar-dates .div {
  display:inline-block;
  padding: 0px;
  margin: 0px;
}

.progress-row-controls {
  margin-right: -14px;
  margin-left: 20px;
  margin-top: -6px;
}
.progress-row-controls svg {
  color: #FFFFFF;
}

.modal-content {
  border-radius: 0rem;
  box-shadow: 0 0 100px rgba(24,29,39,.1), 0 15px 30px rgba(24,29,39,.1), 0 5px 10px rgba(24,29,39,.05);
}

.nav-tabs {
  background-color: #6A6A6A;
  margin: -1rem;
}

.nav-tabs .nav-link {
  border-radius: 0rem;
  color: white;
  border: none;
}

.nav-tabs a:hover {
  background-color: #D93646;
  border-color: #D93646;
}

.nav-tabs .nav-link.active {
}

.left-tab-shadow{
  -webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
  box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
  z-index: 1;
}

.right-tab-shadow{
  -webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
  box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
}

.right-column-card-container {
  padding-left: 0px;
  padding-right: 0px;
}

.shadow {
  /* offset-x | offset-y | color */
  /* offset-x | offset-y | blur-radius | color */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* inset | offset-x | offset-y | color */
  /* box-shadow: 5px 5px 2px 3px rgba(255, 255, 255, 0.6); */
  box-shadow: 0 0 10px rgba(24,29,39,.1), 0 15px 30px rgba(24,29,39,.1), 0 5px 10px rgba(24,29,39,.05);
}

.submit-btn {
  width: 6em;
  display: table-cell !important;
}
/*
.x {
  color: #A3A3A3;
  margin-right: -14px;
  margin-left: 20px;
  margin-top: -6px;
}
 */